/* Center the form vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Set a background color for the entire page */
    flex-direction: column; /* Align content vertically */
}
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; /* Add spacing between the heading and form */
}
/* Style the form container */
form {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Style form inputs and labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    background-color: #a8cee0; 
}
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder {
    color: #999; /* Placeholder text color */
}

/* Style the submit button */
button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
    
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the message div */
#message {
    margin-top: 10px;
    color: #068010;
    font-weight: bold;
}
